<!DOCTYPE html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126548798-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-126548798-1');
    </script>

    <title>alexchoiweb</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Bree+Serif" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="9nW2OvYeU1saQTyhFb8_6HVToqgggGs1IYZsXjZISgA" />
</head>

<body>
    <div class="navi">
        <div class="header-left">
            <a href="mailto:alexchoiweb@gmail.com" class="underline" target="blank">alexchoiweb@gmail.com</a>
        </div>
        <div class="header-right">
            <ul>
                <a href="#work" class="underline">work</a>
                <a href="#about" class="underline">about</a>
            </ul>
        </div>
    </div>
    
    <div class="header">
        <strong><h1>Alex Choi</h1></strong>>
        <h2>Full-Stack Web Developer</h2>
    </div>
    <div class="two">
			<div class="wrapper-grid">
				<div class="card">
					<div class="div-cardImage">
						<img src='./img/walking-bucket.PNG'>
					</div>
					<div class="div-cardInfo">
						<span class="cardTitle">Walking Bucket PWA</span>
						<span class="cardInfo">A clean, super basic barebones starter boilerplate with Webpack. I've created this due to the underlying complexity that is brought forth with modern web application development. By creating this barebones build tooling config, I am giving myself a leg</span>
						<div class="cardTechUsed">
							<span>React</span>
							<span>ContextAPI</span>
						</div>
						<div class="cardLink">
							<a href="/">Project</a>
							<a href="/">Github</a>
						</div>
					</div>
					
				</div>
				<div class="card">
					
				</div>
				<div class="card">
					
				</div>
				<div class="card">
						<div class="div-cardImage">
							<img src='./img/walking-bucket.PNG'>
						</div>
						<div class="div-cardInfo">
							<span class="cardTitle">Walking Bucket PWA</span>
							<span class="cardInfo">A clean, super basic barebones starter boilerplate with Webpack. I've created this due to the underlying complexity that is brought forth with modern web application development. By creating this barebones build tooling config, I am giving myself a leg</span>
							<div class="cardTechUsed">
								<span>React</span>
								<span>ContextAPI</span>
							</div>
							<div class="cardLink">
								<a href="/">Project</a>
								<a href="/">Github</a>
							</div>
						</div>
						
					</div>				<div class="card">
							<div class="div-cardImage">
								<img src='./img/walking-bucket.PNG'>
							</div>
							<div class="div-cardInfo">
								<span class="cardTitle">Walking Bucket PWA</span>
								<span class="cardInfo">A clean, super basic barebones starter boilerplate with Webpack. I've created this due to the underlying complexity that is brought forth with modern web application development. By creating this barebones build tooling config, I am giving myself a leg</span>
								<div class="cardTechUsed">
									<span>React</span>
									<span>ContextAPI</span>
								</div>
								<div class="cardLink">
									<a href="/">Project</a>
									<a href="/">Github</a>
								</div>
							</div>
							
						</div>				<div class="card">
								<div class="div-cardImage">
									<img src='./img/walking-bucket.PNG'>
								</div>
								<div class="div-cardInfo">
									<span class="cardTitle">Walking Bucket PWA</span>
									<span class="cardInfo">A clean, super basic barebones starter boilerplate with Webpack. I've created this due to the underlying complexity that is brought forth with modern web application development. By creating this barebones build tooling config, I am giving myself a leg</span>
									<div class="cardTechUsed">
										<span>React</span>
										<span>ContextAPI</span>
									</div>
									<div class="cardLink">
										<a href="/">Project</a>
										<a href="/">Github</a>
									</div>
								</div>
								
							</div>				<div class="card">
					<div class="div-cardImage">
						<img src='./img/walking-bucket.PNG'>
					</div>
					<div class="div-cardInfo">
						<span class="cardTitle">Walking Bucket PWA</span>
						<span class="cardInfo">A clean, super basic barebones starter boilerplate with Webpack. I've created this due to the underlying complexity that is brought forth with modern web application development. By creating this barebones build tooling config, I am giving myself a leg</span>
						<div class="cardTechUsed">
							<span>React</span>
							<span>ContextAPI</span>
						</div>
						<div class="cardLink">
							<a href="/">Project</a>
							<a href="/">Github</a>
						</div>
					</div>
					
				</div>
			</div>
    </div>

    <!-- <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://walking-bucket.herokuapp.com/register" target="_blank">Walking Bucket 🏀</a>
            <h4>A Progressive web app built with React and Chart.js</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://tillis-bjj.herokuapp.com/" target="_blank">Tillis Brazilian Jiu Jitsu 🥋</a>
            <h4>A landing page for a local Jiu Jitsu Gym</h4>
        </div>
    </div>
    
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://chrome.google.com/webstore/detail/mango-todo-tab/jnhdbjhhhecpenadhlihckdgiilefpdf" target="_blank">Mango Todo Tab 📙</a>
            <h4>A Google Chrome extension to-do list on your new browser tab</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://alexchoivideo.herokuapp.com/" target="_blank">Video-Editing Portfolio 📹</a>
            <h4>A professional video portfolio made with CSS Grid</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://heatsheets.herokuapp.com/" target="_blank">Heat Sheet - Spicy Food Ratings 🌶</a>
            <h4>A Yelp-like app infrastructure for spicy food ratings</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://whenmoon.herokuapp.com/" target="_blank">When Moon? - Crypto App 📈</a>
            <h4>A simple crypto tool built using coinmarketcap API</h4>
        </div>
		</div> -->
		
		

    <!-- <div class="wrapper" id="about">
        <div class="bio">
            <p>I'm a web developer based in Los Angeles, California. My professional experience includes three years in the video marketing industry.</p>
            <br>
            <p>I use my experience in visual design, storytelling and branding to bring life to my web projects.</p>
                <span id="interests">
                    <br>
                    <p>If I'm not in front of a keyboard typing, you could probably catch me gaming or shooting hoops.</p>
                </span>
                <br>
            <p>Got a cool idea? Let's work together!</p>
            <a href="mailto:alexchoiweb@gmail.com" class="underline">alexchoiweb@gmail.com</a><p id="emailIcon">&nbsp✉️</p>
        </div>
    </div>
    
    <div class="wrapper" id="footer">
        <div class="social">
            <a href="https://github.com/alexanderchoi" class="underline" target="_blank">github &nbsp &#x2192</a>
            <br>
            <a href="https://twitter.com/alexchoiweb" class="underline" target="_blank">twitter&nbsp &#x2192</a>
        </div>
    </div> -->
    
</body>