<!DOCTYPE html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126548798-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-126548798-1');
    </script>

    <title>alexchoiweb</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Bree+Serif" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="9nW2OvYeU1saQTyhFb8_6HVToqgggGs1IYZsXjZISgA" />
</head>

<body>
	<div class="one">
		<div class="nav">
			<div class="nav-email">
				<a href="mailto:alexchoiweb@gmail.com" target="blank">email me</a>
			</div>
			<div class="nav-links">
				<ul>
					<a href="#work">work</a>
					<a href="https://docs.google.com/document/d/1skX_tGSrSWGT2Q4yIkX8pew-t_0kY-T1FrgrdMyNDno/edit?usp=sharing" target="blank">resume</a>
					<a href="#about">about</a>
				</ul>
			</div>
		</div>
		<div class="header">
			<h1>Alex Choi</h1>
			<h2>Full-Stack Web Developer</h2>
		</div>
	</div>
<!-- 		
		<div class="nav">
			<div class="header-left">
				<a href="mailto:alexchoiweb@gmail.com" class="underline" target="blank">alexchoiweb@gmail.com</a>
			</div>
			<div class="header-right">
				<ul>
					<a href="#work" class="underline">work</a>
					<a href="#about" class="underline">about</a>
				</ul>
			</div>
    </div>
    
    <div class="header">
        <h1>Alex Choi</h1>
        <h2>Full-Stack Web Developer</h2>
		</div> -->
		
    <div class="two" id="work">
			<div class="wrapper-grid">
				<div class="card">
					<div class="div-cardImage">
						<a href="https://walking-bucket.herokuapp.com/" target="blank"><img src='./img/walking-bucket.png'></a>
					</div>
					<div class="div-cardInfo">
						<p class="cardTitle">Walking Bucket PWA</p>
						<span class="cardInfo">Progressive web app I built for high school students to visually track their basketball shot progress. Users can input their shot makes and attempts and the app renders a chart visualizing their field goal percentages over time.</span>
						<div class='div-cardBottom'>
							<div class="div-cardTechUsed">
									<span>React</span>
									<span>Node.js</span>
									<span>MongoDB</span>
									<span>react-router-dom</span>
									<span>Passport.js</span>
									<span>Chart.js</span>
								</div>
								<div class="div-cardLinks">
									<a href="https://walking-bucket.herokuapp.com/">Project</a>
									<a href="https://github.com/alexanderchoi/walking-buckets">Code</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="card">
						<div class="div-cardImage">
							<a href="https://chrome.google.com/webstore/detail/mango-todo-tab/jnhdbjhhhecpenadhlihckdgiilefpdf" target="blank"><img src='./img/mango-todo.png' id="img-mango"></a>
						</div>
						<div class="div-cardInfo">
							<p class="cardTitle">Mango To-Do Tab</p>
							<span class="cardInfo">Published Chrome extension that turns the user's new tab into a easy-access, minimalist to-do list. I use this app every day to quickly break down complex coding problems into smaller, more manageable tasks.</span>
							<div class='div-cardBottom'>
								<div class="div-cardTechUsed">
									<span>React</span>
									<span>Node.js</span>
									<span>Chrome Extensions</span>
								</div>
								<div class="div-cardLinks">
									<a href="https://chrome.google.com/webstore/detail/mango-todo-tab/jnhdbjhhhecpenadhlihckdgiilefpdf">Project</a>
									<a href="https://github.com/alexanderchoi/todos-extension">Code</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="div-cardImage">
							<a href="https://tillis-bjj.herokuapp.com/" target="blank"><img src='./img/tillis-bjj.png'></a>
						</div>
						<div class="div-cardInfo">
							<p class="cardTitle">Jiu Jitsu Gym Landing Page</p>
							<span class="cardInfo">Landing page and site I built for a local Brazilian Jiu Jitsu gym to help alleviate increasing customer service demand and digital marketing. Features include a Google Maps API component and contact form.</span>
							<div class='div-cardBottom'>
								<div class="div-cardTechUsed">
									<span>Bootstrap</span>
									<span>Google Maps API</span>
								</div>
								<div class="div-cardLinks">
									<a href="https://tillis-bjj.herokuapp.com/">Project</a>
									<a href="https://github.com/alexanderchoi/tbjj-landing-page">Code</a>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="div-cardImage">
							<a href="https://alexchoivideo.herokuapp.com/" target="blank"><img src='./img/video-portfolio.png'></a>
						</div>
						<div class="div-cardInfo">
							<p class="cardTitle">Video Editing Portfolio Page</p>
							<span class="cardInfo">Personal porfolio website to showcase video editing and motion graphics projects.</span>
							<div class='div-cardBottom'>
								<div class="div-cardTechUsed">
									<span>CSS Grid</span>
									<span>Bootstrap</span>
								</div>
								<div class="div-cardLinks">
									<a href="https://alexchoivideo.herokuapp.com/">Project</a>
									<a href="https://github.com/alexanderchoi/VideoPortfolio">Code</a>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="div-cardImage">
							<a href="https://whenmoon.herokuapp.com/" target="blank"><img src='./img/tillis-bjj.png'></a>
						</div>
						<div class="div-cardInfo">
							<p class="cardTitle">When Moon?</p>
							<span class="cardInfo">Fun little cryptocurrency web app that uses CoinMarketCap API to determine what value your coin has to hit in order to net the user enough dollars to "moon."</span>
							<div class='div-cardBottom'>
								<div class="div-cardTechUsed">
									<span>Javascript</span>
									<span>CoinMarketCap API</span>
								</div>
								<div class="div-cardLinks">
									<a href="https://whenmoon.herokuapp.com/">Project</a>
									<a href="https://github.com/alexanderchoi/WhenMoon">Code</a>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="div-cardImage">
							<a href="https://heatsheets.herokuapp.com/" target="blank"><img src='./img/tillis-bjj.png'></a>
						</div>
						<div class="div-cardInfo">
							<p class="cardTitle">Heat Sheet</p>
							<span class="cardInfo">Yelp-like web app for users to post and review spiciness level ratings for their favorite restaurants and dishes.</span>
							<div class='div-cardBottom'>
								<div class="div-cardTechUsed">
									<span>Node.js</span>
									<span>express</span>
									<span>MongoDB</span>
									<span>Passport.js</span>
									<span>Bootstrap</span>
								</div>
								<div class="div-cardLinks">
									<a href="https://heatsheets.herokuapp.com/">Project</a>
									<a href="https://github.com/alexanderchoi/heatsheet">Code</a>
							</div>
						</div>
					</div>
				</div>


			</div>
    </div>

    <!-- <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://walking-bucket.herokuapp.com/register" target="_blank">Walking Bucket 🏀</a>
            <h4>A Progressive web app built with React and Chart.js</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://tillis-bjj.herokuapp.com/" target="_blank">Tillis Brazilian Jiu Jitsu 🥋</a>
            <h4>A landing page for a local Jiu Jitsu Gym</h4>
        </div>
    </div>
    
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://chrome.google.com/webstore/detail/mango-todo-tab/jnhdbjhhhecpenadhlihckdgiilefpdf" target="_blank">Mango Todo Tab 📙</a>
            <h4>A Google Chrome extension to-do list on your new browser tab</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://alexchoivideo.herokuapp.com/" target="_blank">Video-Editing Portfolio 📹</a>
            <h4>A professional video portfolio made with CSS Grid</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://heatsheets.herokuapp.com/" target="_blank">Heat Sheet - Spicy Food Ratings 🌶</a>
            <h4>A Yelp-like app infrastructure for spicy food ratings</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://whenmoon.herokuapp.com/" target="_blank">When Moon? - Crypto App 📈</a>
            <h4>A simple crypto tool built using coinmarketcap API</h4>
        </div>
		</div> -->
		
		

    <!-- <div class="wrapper" id="about">
        <div class="bio">
            <p>I'm a web developer based in Los Angeles, California. My professional experience includes three years in the video marketing industry.</p>
            <br>
            <p>I use my experience in visual design, storytelling and branding to bring life to my web projects.</p>
                <span id="interests">
                    <br>
                    <p>If I'm not in front of a keyboard typing, you could probably catch me gaming or shooting hoops.</p>
                </span>
                <br>
            <p>Got a cool idea? Let's work together!</p>
            <a href="mailto:alexchoiweb@gmail.com" class="underline">alexchoiweb@gmail.com</a><p id="emailIcon">&nbsp✉️</p>
        </div>
    </div>
    
    <div class="wrapper" id="footer">
        <div class="social">
            <a href="https://github.com/alexanderchoi" class="underline" target="_blank">github &nbsp &#x2192</a>
            <br>
            <a href="https://twitter.com/alexchoiweb" class="underline" target="_blank">twitter&nbsp &#x2192</a>
        </div>
		</div> -->
    
</body>