<!DOCTYPE html>
<head>
    <title>alexchoiweb</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Bree+Serif" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="9nW2OvYeU1saQTyhFb8_6HVToqgggGs1IYZsXjZISgA" />
</head>

<body>

    <div class="navi">
        <div class="header-left">
            <a href="mailto:alexchoiweb@gmail.com" class="underline" target="blank">alexchoiweb@gmail.com</a>
        </div>
        <div class="header-right">
            <ul>
                <a href="#work" class="underline">work</a>
                <a href="#about" class="underline">about</a>
            </ul>
        </div>
    </div>
    
    <div class="header">
        <h1>alex choi</h1>
        <h2>web development</h2>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://chrome.google.com/webstore/detail/mango-todo-tab/jnhdbjhhhecpenadhlihckdgiilefpdf" target="_blank">Mango Todo Tab 📙</a>
            <h4>React</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://alexchoivideo.herokuapp.com/" target="_blank">Video-Editing Portfolio 📹</a>
            <h4>CSS Grid</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://heatsheets.herokuapp.com/" target="_blank">Heat Sheet - Spicy Food Ratings 🌶</a>
            <h4>Javascript, nodeJS, MongoDB</h4>
        </div>
    </div>
    
    <div class="body-wrapper">
        <div class="item-wrapper" id="work">
            <a href="https://whenmoon.herokuapp.com/" target="_blank">When Moon? - Crypto App 📈</a>
            <h4>Javascript</h4>
        </div>
    </div>

    <div class="wrapper" id="about">
        <div class="bio">
            <p>I'm a web developer based in Los Angeles, California. My professional experience includes three years in the video marketing industry.</p>
            <br>
            <p>I use my experience in visual design, storytelling and branding to bring life to my web projects.</p>
                <span id="interests">
                    <br>
                    <p>If I'm not in front of a keyboard typing, you could probably catch me gaming or shooting hoops.</p>
                </span>
                <br>
            <p>Got a cool idea? Let's work together!</p>
            <a href="mailto:alexchoiweb@gmail.com" class="underline">alexchoiweb@gmail.com</a><p id="emailIcon">&nbsp✉️</p>
        </div>
    </div>
    
    <div class="wrapper" id="footer">
        <div class="social">
            <a href="https://github.com/alexanderchoi" class="underline" target="_blank">github &nbsp &#x2192</a>
            <br>
            <a href="https://twitter.com/alexchoiweb" class="underline" target="_blank">twitter&nbsp &#x2192</a>
        </div>
    </div>
    
</body>