body {
    font-family: 'Inconsolata', 'Helvetica Neue', Arial, sans-serif!important;
    background: white;
    color: black!important;
}

.navi {
    display: grid;
    grid-template-columns: 15% repeat(3, 1fr) 20%;
    grid-rows: auto;
    padding: 60px 20px;
    font-size: 1.3em;
    letter-spacing: 0.02em;
    line-height: 1.4em;
}

.header-left {
    grid-column: 2;
}

.header-right {
    grid-column: 5;
}

.navi a {
    color: black;
    padding: 0 4px;
    position: relative;
}

.navi a:hover {
    text-decoration: none;
    border-bottom: 0px;
}

.underline:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 60%;
    top: 60%;
    left: 0;
    background-color: #e4f8fe;
    z-index: -1;
}

h1 {
    font-family: "Helvetica Neue", "Helvetica", sans-serif!important;
    letter-spacing: 0.04em;
    text-align: center;
    line-height: 0.1em;
    font-size: 3.3em!important;
}

#menuToggle {
    display: none;
}

#iconToggle {
    cursor: pointer;
    float: right;
    padding: 15px;
    transform: scale(2);
}

.body-wrapper {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    height: 300px;
}

.video-portfolio {
    grid-column: 2;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}

/*#menuToggle:checked ~ #menu {*/
/*    left: 15px;*/
/*}*/

/*#menu {*/
/*    width: 500px;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    left: -500px;*/
/*    transition: all .5s ease-in-out;*/
/*    background: black;*/
/*    color: white;*/
/*    width: 500px;*/
/*    height: 100%;*/
/*    padding: 25px;*/
/*    font-size: 2em;*/
/*    letter-spacing: 0.02em;*/
/*    line-height: 1em;*/
/*}*/

/*#menuFootnote {*/
/*    font-size: .4em;*/
/*    letter-spacing: 0.02em;*/
/*    line-height: 1em;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/

#info {
    width: 420px;
    height: 500px;
}

.work-container {
    height: 900px;
}

#about {
    width: 100%;
    height: 500px;
    padding: 60px;
}

#footer {
    width: 100%;
    height: 220px;
    position: relative;
    padding: 60px;
    line-height: 1.6em;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 1.3em;
    letter-spacing: 0.02em;
    line-height: 1.4em;
}

.bio {
    grid-column: 1 / 7;
}

.social {
    grid-column: 1 / 7;
}

@media (max-width: 1080px) {
    .navi {
        grid-template-columns: 1fr;
    }
    .header-left {
        grid-column: 1;
        text-align: center;
    }
    .header-right {
        display: none;
    }
    #interests {
        display: none;
    }
}

@media (min-width : 1081px) {
    .bio {
        grid-column: 2 / 4;
    }
    .social {
        grid-column: 5 / 7;
    }
}

#emailIcon {
    display: inline;
    position: relative;
    top: 2px;
}