<!DOCTYPE html>
<head>
    <title>achoiweb</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
</head>

<body>
    <input type="checkbox" id="menuToggle">
    <label for="menuToggle" id="iconToggle">&#9776</label>
    
    <div class="row" id="menu">
        <p>Alex is a web dev wizard that loves to game and shoot hoops.</p>
        <br>
        <p>To get in touch:</p>
        <p>achoiweb@gmail.com</p>
        <p id="menuFootnote">2018 All rights reserved Alex choi</p>
    </div>
    
    <!--<div class="container">-->
    <!--    <div class="row">-->
    <!--        <div class="col-xs-3">-->
    <!--        </div>-->
    <!--        <div class="col-xs-6">-->
    <!--            <p>HELLO HELLO HELLO</p>-->
    <!--        </div>-->
    <!--        <div class="col-xs-3">-->
    <!--            <p id="about">About</p>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    
</body>